In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
df = pd.read_csv(
    '../Data_Cleaning_Practice/data/btc-eth-prices-outliers.csv',
    index_col=0,
    parse_dates=True
)
df

                Bitcoin   Ether
Timestamp
2017-04-02  1099.169125   48.55
2017-04-03  1141.813000   44.13
2017-04-04  1141.600363   44.43
2017-04-05  1133.079314   44.90
2017-04-06  1196.307937   43.23
...                 ...     ...
2018-03-28  7960.380000  445.93
2018-03-29  7172.280000  383.90
2018-03-30  6882.531667  393.82
2018-03-31  6935.480000  394.07
2018-04-01  6794.105000  378.85

[365 rows x 2 columns]

In [1]:
df.plot(figsize=(16,9))

NameError: name 'df' is not defined